## Section 1. Fundamentals

### Syntax

In [1]:
# define main function to print out something
def main():
    i = 1
    max = 10
    while (i < max):
        print(i)
        i = i + 1

# call function main 
main()

1
2
3
4
5
6
7
8
9

In [2]:
# This is a single line comment in Python

In [4]:
a = True
b = False
c = True
if (a == True) and (b == False) and \
   (c == True):
    print("Continuation of statements")

Continuation of statements

In [5]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = ''' string can span
        multiple line '''
print(s)

This is a string
Another string using double quotes
 string can span
        multiple line

## Variables

In [7]:
message = 'Hello, World!'
print(message)

message = 'Good Bye!'
print(message)

Hello, World!
Good Bye!

In [9]:
variable_name = 'value'

In [10]:
counter = 1

### Strings

In [11]:
message = 'This is a string in Python'
message = "This is also a string"

In [12]:
message = "It's a string"

In [13]:
message = '"Beautiful is better than ugly.". Said Tim Peters'

In [14]:
message = 'It\'s also a valid string'

In [15]:
message = r'C:\python\bin'

In [16]:
help_message = '''
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

In [17]:
name = 'John'
message = 'Hi'

In [18]:
name = 'John'
message = f'Hi {name}'
print(message)

Hi John

In [19]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [20]:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

In [22]:
str = "Python String"
print(str[0]) 
print(str[1])

P
y

In [23]:
str = "Python String"
print(str[-1])  
print(str[-2])

g
n

In [24]:
str = "Python String"
str_len = len(str)
print(str_len)

13

In [25]:
str = "Python String"
print(str[0:2])

Py

In [26]:
str = "Python String"
str[0] = 'J'  # you cannot change the string

TypeError: 'str' object does not support item assignment

In [27]:
str = "Python String"
new_str = 'J' + str[1:]
print(new_str)

Jython String

### Numbers

In [28]:
20+10

30

In [29]:
20-10

10

In [30]:
20*10

200

In [32]:
20/10

2.0

In [33]:
3**3

27

In [36]:
20 / (10 + 10)

1.0

In [37]:
0.5 + 0.5

1.0

In [38]:
0.5 - 0.5

0.0

In [39]:
0.5 * 0.5

0.25

In [40]:
0.5 / 0.5

1.0

In [42]:
20 / 10 #returns float

2.0

In [43]:
1 + 2.0 #returns float

3.0

In [44]:
0.1 + 0.2 # because of  the internal representation of floats

0.30000000000000004

In [45]:
count = 10000000000

In [46]:
count = 10_000_000_000

In [47]:
count = 10_000_000_000
print(count)

10000000000

### Boolean

In [48]:
is_active = True
is_admin = False

In [49]:
20 > 10

True

In [50]:
20 < 10

False

In [51]:
'a' < 'b'

True

In [52]:
'a' > 'b'

False

In [53]:
bool('Hi')

True

In [54]:
bool('')

False

In [55]:
bool(100)

True

In [56]:
bool(0)

False

### Constants

In [57]:
FILE_SIZE_LIMIT = 2000

### Comments

In [59]:
# increase price by 5%
price =1
price = price * 1.05

In [61]:
salary =1000
salary = salary * 1.02   # increase salary by 2%

In [66]:
def quicksort():
    """ sort the list using quicksort algorithm """
...

Ellipsis

In [65]:
def increase(salary, percentage, rating):
    """ increase salary base on rating and percentage
    rating 1 - 2 no increase
    rating 3 - 4 increase 5%
    rating 4 - 6 increase 10%
    """

### Type conversion

In [67]:
value = input('Enter a value:')
print(value)

10

In [69]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

tax_amount = price * tax / 100
# This will give error as values are strings
print(f'The tax amount price is ${tax_amount}')

TypeError: can't multiply sequence by non-int of type 'str'

In [70]:
price = input('Enter the price ($):')
tax = input('Enter the tax rate (%):')

tax_amount = int(price) * int(tax) / 100

print(f'The tax amount price is ${tax_amount}')

The tax amount price is $2.5

In [71]:
type(100)

int

In [72]:
type(2.0)

float

In [73]:
type('Hello')

str

In [74]:
type(True)

bool

### Section 2 Operators

### Comparison operators

In [76]:
10 < 20

True

In [77]:
30 < 20

False

In [78]:
'apple' < 'orange'

True

In [79]:
'banana' < 'apple'

False

In [82]:
x = 10
y = 20 
x < y

True

In [83]:
y < x

False

In [85]:
20 <= 20

True

In [86]:
10 <= 20

True

In [87]:
30 <= 30

True

In [88]:
20 > 10

True

In [89]:
20 > 20

False

In [90]:
10 > 20

False

In [91]:
'apple' > 'orange'

False

In [92]:
'orange' > 'apple'

True

In [93]:
20 >= 10

True

In [94]:
20 >= 20

True

In [95]:
10 >= 20

False

In [96]:
'apple' >= 'apple'

True

In [97]:
'apple' >= 'orange'

False

In [98]:
'orange' >= 'apple'

True

In [99]:
20 == 10

False

In [100]:
20 == 20

True

In [101]:
'apple' == 'apple'

True

In [102]:
'apple' == 'orange'

False

In [103]:
20 != 20

False

In [104]:
20 != 10

True

In [105]:
'apple' != 'apple'

False

In [106]:
'apple' != 'orange'

True

### Logical operators

In [107]:
price = 9.99
price > 9 and price < 10

True

In [108]:
price > 10 and price < 20

False

In [109]:
price = 9.99
price > 10 or price < 20

True

In [110]:
price = 9.99
price > 10 or price < 5

False

In [111]:
price = 9.99
not price > 10

True

In [112]:
not (price > 5 and price < 10)

False

### Section 3 Control flow

### If else Statement

In [113]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")

You're eligible to vote.

In [114]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
    print("Let's go and vote.")

You're eligible to vote.
Let's go and vote.

In [116]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
print("Let's go and vote.")

Let's go and vote.

In [117]:
age = input('Enter your age:')
if int(age) >= 18:
    print("You're eligible to vote.")
else:
    print("You're not eligible to vote.")

You're eligible to vote.

In [118]:
age = input('Enter your age:')

# convert the string to int
your_age = int(age)

# determine the ticket price
if your_age < 5:
    ticket_price = 5
elif your_age < 16:
    ticket_price = 10
else:
    ticket_price = 18

# show the ticket price
print(f"You'll pay ${ticket_price} for the ticket")

You'll pay $10 for the ticket

### Ternary operator

In [119]:
age = input('Enter your age:')

if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5

print(f"The ticket price is {ticket_price}")

The ticket price is 20

In [120]:
if int(age) >= 18:
    ticket_price = 20
else:
    ticket_price = 5

In [121]:
ticket_price = 20 if int(age) >= 18 else 5

In [122]:
age = input('Enter your age:')

ticket_price = 20 if int(age) >= 18 else 5

print(f"The ticket price is {ticket_price}")

The ticket price is 20

### Loop with range

In [123]:
for index in range(5):
    print(index)

0
1
2
3
4

In [125]:
for index in range(5):
    print(index + 1)

1
2
3
4
5

In [126]:
for index in range(1, 6):
    print(index)

1
2
3
4
5

In [127]:
for index in range(0, 11, 2):
    print(index)

0
2
4
6
8
10

In [128]:
sum = 0
for num in range(101):
    sum += num

print(sum)

5050

In [129]:
n = 100
sum = n * (n+1)/2
print(sum)

5050.0

### While

In [130]:
max = 5
counter = 0

while counter < max:
    print(counter)
    counter += 1

0
1
2
3
4

In [133]:
command = 'Quit'

while command.lower() != 'quit':

    command = input('>')
    print(f"Echo: {command}")

### break

In [135]:
condition = None
for index in range(n):
    # more code here 
    if condition:
        break

In [136]:
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [137]:
for x in range(5):
    for y in range(5):
        # terminate the innermost loop
        if y > 1:
            break
        # show coordinates on the screen
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

In [138]:
while condition:
    # more code
    if condition:
        break

In [139]:
print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break

-- Help: type quit to exit --

### continue

In [140]:
for index in range(n):
    if condition:
       continue
    # more code here

In [142]:
condition1 = None
condition2 =  None
while condition1:
    if condition2:
        continue
    # more code here

In [143]:
for index in range(10):
    if index % 2:
        continue

    print(index)

0
2
4
6
8

In [144]:
# print the odd numbers 
counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter)

1
3
5
7
9

### pass

In [146]:
counter = 1
max = 10
if counter <= max:
    counter += 1
else:
    
   ...

In [147]:
counter = 1
max = 10
if counter <= max:
    counter += 1
else:
    pass

In [148]:
if condition:
    pass

In [149]:
for i in range(1,100):
    pass

In [150]:
while condition:
    pass

In [151]:
def fn():
    pass

In [152]:
class Stream:
    pass

## Section 4 Functions

### functions

In [153]:
def greet():
    """ Display a greeting to users """
    print('Hi')

In [155]:
def greet(name):
    ...

In [156]:
def greet(name):
    print(f"Hi {name}")

In [157]:
greet('john')

Hi john

In [158]:
first_name = 'Jane'
greet(first_name)

Hi Jane

In [159]:
def greet(name):
    return f"Hi {name}"

In [160]:
greeting = greet('John')

In [161]:
print(greeting)

Hi John

In [162]:
def sum(a, b):
    return a + b


total = sum(10,20)
print(total)

30

In [163]:
total = sum(10, 20)

### Default parameters

In [164]:
def greet(name, message='Hi'):
    return f"{message} {name}"

In [165]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John', 'Hello')
print(greeting)

Hello John

In [166]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John')
print(greeting)

Hi John

In [167]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"

In [168]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet()
print(greeting)

Hi there

In [169]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet('Hello')
print(greeting)

Hi Hello

In [170]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet(message='Hello')
print(greeting)

Hello there

### Keyword arguments

In [171]:
def get_net_price(price, discount):
    return price * (1-discount)

In [172]:
net_price = get_net_price(100, 0.1)
print(net_price)

90.0

In [173]:
net_price = get_net_price(0.1, 100) # positioning of the argument is important
print(net_price)

-9.9

In [174]:
net_price = get_net_price(price=100, discount=0.1)

In [175]:
net_price = get_net_price(discount=0.1, price=100)

In [176]:
def get_net_price(price, tax=0.07, discount=0.05):
    return price * (1 + tax - discount)

In [177]:
net_price = get_net_price(100)
print(net_price)

102.0

In [178]:
net_price = get_net_price(100, 0.06)

In [179]:
net_price = get_net_price(100, discount=0.06)
print(net_price)

101.0

In [180]:
net_price = get_net_price(100, tax=0.08, 0.06) # gives syntax error

SyntaxError: positional argument follows keyword argument (334308991.py, line 1)

In [181]:
net_price = get_net_price(100, tax=0.08, discount=0.06)
print(net_price)

102.0

### Recursive functions

In [182]:
def count_down(start):
    """ Count down from a number  """
    print(start)

In [183]:
count_down(3)

3

In [184]:
def count_down(start):
    """ Count down from a number  """
    print(start)
    count_down(start-1)


count_down(3) # will give recursive error

3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
-16
-17
-18
-19
-20
-21
-22
-23
-24
-25
-26
-27
-28
-29
-30
-31
-32
-33
-34
-35
-36
-37
-38
-39
-40
-41
-42
-43
-44
-45
-46
-47
-48
-49
-50
-51
-52
-53
-54
-55
-56
-57
-58
-59
-60
-61
-62
-63
-64
-65
-66
-67
-68
-69
-70
-71
-72
-73
-74
-75
-76
-77
-78
-79
-80
-81
-82
-83
-84
-85
-86
-87
-88
-89
-90
-91
-92
-93
-94
-95
-96
-97
-98
-99
-100
-101
-102
-103
-104
-105
-106
-107
-108
-109
-110
-111
-112
-113
-114
-115
-116
-117
-118
-119
-120
-121
-122
-123
-124
-125
-126
-127
-128
-129
-130
-131
-132
-133
-134
-135
-136
-137
-138
-139
-140
-141
-142
-143
-144
-145
-146
-147
-148
-149
-150
-151
-152
-153
-154
-155
-156
-157
-158
-159
-160
-161
-162
-163
-164
-165
-166
-167
-168
-169
-170
-171
-172
-173
-174
-175
-176
-177
-178
-179
-180
-181
-182
-183
-184
-185
-186
-187
-188
-189
-190
-191
-192
-193
-194
-195
-196
-197
-198
-199
-200
-201
-202
-203
-204
-205
-206
-207
-208
-209
-210
-211
-212
-213
-214
-215
-216
-217
-218
-219
-220
-221
-222
-223
-224
-225
-226
-227
-228
-229
-230
-231
-232
-233
-234
-235
-236
-237
-238
-239
-240
-241
-242
-243
-244
-245
-246
-247
-248
-249
-250
-251
-252
-253
-254
-255
-256
-257
-258
-259
-260
-261
-262
-263
-264
-265
-266
-267
-268
-269
-270
-271
-272
-273
-274
-275
-276
-277
-278
-279
-280
-281
-282
-283
-284
-285
-286
-287
-288
-289
-290
-291
-292
-293
-294
-295
-296
-297
-298
-299
-300
-301
-302
-303
-304
-305
-306
-307
-308
-309
-310
-311
-312
-313
-314
-315
-316
-317
-318
-319
-320
-321
-322
-323
-324
-325
-326
-327
-328
-329
-330
-331
-332
-333
-334
-335
-336
-337
-338
-339
-340
-341
-342
-343
-344
-345
-346
-347
-348
-349
-350
-351
-352
-353
-354
-355
-356
-357
-358
-359
-360
-361
-362
-363
-364
-365
-366
-367
-368
-369
-370
-371
-372
-373
-374
-375
-376
-377
-378
-379
-380
-381
-382
-383
-384
-385
-386
-387
-388
-389
-390
-391
-392
-393
-394
-395
-396
-397
-398
-399
-400
-401
-402
-403
-404
-405
-406
-407
-408
-409
-410
-411
-412
-413
-414
-415
-416
-417
-418
-419
-420
-421
-422
-423
-424
-425
-426
-427
-428
-429
-430
-431
-432
-433
-434
-435
-436
-437
-438
-439
-440
-441
-442
-443
-444
-445
-446
-447
-448
-449
-450
-451
-452
-453
-454
-455
-456
-457
-458
-459
-460
-461
-462
-463
-464
-465
-466
-467
-468
-469
-470
-471
-472
-473
-474
-475
-476
-477
-478
-479
-480
-481
-482
-483
-484
-485
-486
-487
-488
-489
-490
-491
-492
-493
-494
-495
-496
-497
-498
-499
-500
-501
-502
-503
-504
-505
-506
-507
-508
-509
-510
-511
-512
-513
-514
-515
-516
-517
-518
-519
-520
-521
-522
-523
-524
-525
-526
-527
-528
-529
-530
-531
-532
-533
-534
-535
-536
-537
-538
-539
-540
-541
-542
-543
-544
-545
-546
-547
-548
-549
-550
-551
-552
-553
-554
-555
-556
-557
-558
-559
-560
-561
-562
-563
-564
-565
-566
-567
-568
-569
-570
-571
-572
-573
-574
-575
-576
-577
-578
-579
-580
-581
-582
-583
-584
-585
-586
-587
-588
-589
-590
-591
-592
-593
-594
-595
-596
-597
-598
-599
-600
-601
-602
-603
-604
-605
-606
-607
-608
-609
-610
-611
-612
-613
-614
-615
-616
-617
-618
-619
-620
-621
-622
-623
-624
-625
-626
-627
-628
-629
-630
-631
-632
-633
-634
-635
-636
-637
-638
-639
-640
-641
-642
-643
-644
-645
-646
-647
-648
-649
-650
-651
-652
-653
-654
-655
-656
-657
-658
-659
-660
-661
-662
-663
-664
-665
-666
-667
-668
-669
-670
-671
-672
-673
-674
-675
-676
-677
-678
-679
-680
-681
-682
-683
-684
-685
-686
-687
-688
-689
-690
-691
-692
-693
-694
-695
-696
-697
-698
-699
-700
-701
-702
-703
-704
-705
-706
-707
-708
-709
-710
-711
-712
-713
-714
-715
-716
-717
-718
-719
-720
-721
-722
-723
-724
-725
-726
-727
-728
-729
-730
-731
-732
-733
-734
-735
-736
-737
-738
-739
-740
-741
-742
-743
-744
-745
-746
-747
-748
-749
-750
-751
-752
-753
-754
-755
-756
-757
-758
-759
-760
-761
-762
-763
-764
-765
-766
-767
-768
-769
-770
-771
-772
-773
-774
-775
-776
-777
-778
-779
-780
-781
-782
-783
-784
-785
-786
-787
-788
-789
-790
-791
-792
-793
-794
-795
-796
-797
-798
-799
-800
-801
-802
-803
-804
-805
-806
-807
-808
-809
-810
-811
-812
-813
-814
-815
-816
-817
-818
-819
-820
-821
-822
-823
-824
-825
-826
-827
-828
-829
-830
-831
-832
-833
-834
-835
-836
-837
-838
-839
-840
-841
-842
-843
-844
-845
-846
-847
-848
-849
-850
-851
-852
-853
-854
-855
-856
-857
-858
-859
-860
-861
-862
-863
-864
-865
-866
-867
-868
-869
-870
-871
-872
-873
-874
-875
-876
-877
-878
-879
-880
-881
-882
-883
-884
-885
-886
-887
-888
-889
-890
-891
-892
-893
-894
-895
-896
-897
-898
-899
-900
-901
-902
-903
-904
-905
-906
-907
-908
-909
-910
-911
-912
-913
-914
-915
-916
-917
-918
-919
-920
-921
-922
-923
-924
-925
-926
-927
-928
-929
-930
-931
-932
-933
-934
-935
-936
-937
-938
-939
-940
-941
-942
-943
-944
-945
-946
-947
-948
-949
-950
-951
-952
-953
-954
-955
-956
-957
-958
-959
-960
-961
-962
-963
-964
-965
-966
-967
-968
-969
-970
-971
-972
-973
-974
-975
-976
-977
-978
-979
-980
-981
-982
-983
-984
-985
-986
-987
-988
-989
-990
-991
-992
-993
-994
-995
-996
-997
-998
-999
-1000
-1001
-1002
-1003
-1004
-1005
-1006
-1007
-1008
-1009
-1010
-1011
-1012
-1013
-1014
-1015
-1016
-1017
-1018
-1019
-1020
-1021
-1022
-1023
-1024
-1025
-1026
-1027
-1028
-1029
-1030
-1031
-1032
-1033
-1034
-1035
-1036
-1037
-1038
-1039
-1040
-1041
-1042
-1043
-1044
-1045
-1046
-1047
-1048
-1049
-1050
-1051
-1052
-1053
-1054
-1055
-1056
-1057
-1058
-1059
-1060
-1061
-1062
-1063
-1064
-1065
-1066
-1067
-1068
-1069
-1070
-1071
-1072
-1073
-1074
-1075
-1076
-1077
-1078
-1079
-1080
-1081
-1082
-1083
-1084
-1085
-1086
-1087
-1088
-1089
-1090
-1091
-1092
-1093
-1094
-1095
-1096
-1097
-1098
-1099
-1100
-1101
-1102
-1103
-1104
-1105
-1106
-1107
-1108
-1109
-1110
-1111
-1112
-1113
-1114
-1115
-1116
-1117
-1118
-1119
-1120
-1121
-1122
-1123
-1124
-1125
-1126
-1127
-1128
-1129
-1130
-1131
-1132
-1133
-1134
-1135
-1136
-1137
-1138
-1139
-1140
-1141
-1142
-1143
-1144
-1145
-1146
-1147
-1148
-1149
-1150
-1151
-1152
-1153
-1154
-1155
-1156
-1157
-1158
-1159
-1160
-1161
-1162
-1163
-1164
-1165
-1166
-1167
-1168
-1169
-1170
-1171
-1172
-1173
-1174
-1175
-1176
-1177
-1178
-1179
-1180
-1181
-1182
-1183
-1184
-1185
-1186
-1187
-1188
-1189
-1190
-1191
-1192
-1193
-1194
-1195
-1196
-1197
-1198
-1199
-1200
-1201
-1202
-1203
-1204
-1205
-1206
-1207
-1208
-1209
-1210
-1211
-1212
-1213
-1214
-1215
-1216
-1217
-1218
-1219
-1220
-1221
-1222
-1223
-1224
-1225
-1226
-1227
-1228
-1229
-1230
-1231
-1232
-1233
-1234
-1235
-1236
-1237
-1238
-1239
-1240
-1241
-1242
-1243
-1244
-1245
-1246
-1247
-1248
-1249
-1250
-1251
-1252
-1253
-1254
-1255
-1256
-1257
-1258
-1259
-1260
-1261
-1262
-1263
-1264
-1265
-1266
-1267
-1268
-1269
-1270
-1271
-1272
-1273
-1274
-1275
-1276
-1277
-1278
-1279
-1280
-1281
-1282
-1283
-1284
-1285
-1286
-1287
-1288
-1289
-1290
-1291
-1292
-1293
-1294
-1295
-1296
-1297
-1298
-1299
-1300
-1301
-1302
-1303
-1304
-1305
-1306
-1307
-1308
-1309
-1310
-1311
-1312
-1313
-1314
-1315
-1316
-1317
-1318
-1319
-1320
-1321
-1322
-1323
-1324
-1325
-1326
-1327
-1328
-1329
-1330
-1331
-1332
-1333
-1334
-1335
-1336
-1337
-1338
-1339
-1340
-1341
-1342
-1343
-1344
-1345
-1346
-1347
-1348
-1349
-1350
-1351
-1352
-1353
-1354
-1355
-1356
-1357
-1358
-1359
-1360
-1361
-1362
-1363
-1364
-1365
-1366
-1367
-1368
-1369
-1370
-1371
-1372
-1373
-1374
-1375
-1376
-1377
-1378
-1379
-1380
-1381
-1382
-1383
-1384
-1385
-1386
-1387
-1388
-1389
-1390
-1391
-1392
-1393
-1394
-1395
-1396
-1397
-1398
-1399
-1400
-1401
-1402
-1403
-1404
-1405
-1406
-1407
-1408
-1409
-1410
-1411
-1412
-1413
-1414
-1415
-1416
-1417
-1418
-1419
-1420
-1421
-1422
-1423
-1424
-1425
-1426
-1427
-1428
-1429
-1430
-1431
-1432
-1433
-1434
-1435
-1436
-1437
-1438
-1439
-1440
-1441
-1442
-1443
-1444
-1445
-1446
-1447
-1448
-1449
-1450
-1451
-1452
-1453
-1454
-1455
-1456
-1457
-1458
-1459
-1460
-1461
-1462
-1463
-1464
-1465
-1466
-1467
-1468
-1469
-1470
-1471
-1472
-1473
-1474
-1475
-1476
-1477
-1478
-1479
-1480
-1481
-1482
-1483
-1484
-1485
-1486
-1487
-1488
-1489
-1490
-1491
-1492
-1493
-1494
-1495
-1496
-1497
-1498
-1499
-1500
-1501
-1502
-1503
-1504
-1505
-1506
-1507
-1508
-1509
-1510
-1511
-1512
-1513
-1514
-1515
-1516
-1517
-1518
-1519
-1520
-1521
-1522
-1523
-1524
-1525
-1526
-1527
-1528
-1529
-1530
-1531
-1532
-1533
-1534
-1535
-1536
-1537
-1538
-1539
-1540
-1541
-1542
-1543
-1544
-1545
-1546
-1547
-1548
-1549
-1550
-1551
-1552
-1553
-1554
-1555
-1556
-1557
-1558
-1559
-1560
-1561
-1562
-1563
-1564
-1565
-1566
-1567
-1568
-1569
-1570
-1571
-1572
-1573
-1574
-1575
-1576
-1577
-1578
-1579
-1580
-1581
-1582
-1583
-1584
-1585
-1586
-1587
-1588
-1589
-1590
-1591
-1592
-1593
-1594
-1595
-1596
-1597
-1598
-1599
-1600
-1601
-1602
-1603
-1604
-1605
-1606
-1607
-1608
-1609
-1610
-1611
-1612
-1613
-1614
-1615
-1616
-1617
-1618
-1619
-1620
-1621
-1622
-1623
-1624
-1625
-1626
-1627
-1628
-1629
-1630
-1631
-1632
-1633
-1634
-1635
-1636
-1637
-1638
-1639
-1640
-1641
-1642
-1643
-1644
-1645
-1646
-1647
-1648
-1649
-1650
-1651
-1652
-1653
-1654
-1655
-1656
-1657
-1658
-1659
-1660
-1661
-1662
-1663
-1664
-1665
-1666
-1667
-1668
-1669
-1670
-1671
-1672
-1673
-1674
-1675
-1676
-1677
-1678
-1679
-1680
-1681
-1682
-1683
-1684
-1685
-1686
-1687
-1688
-1689
-1690
-1691
-1692
-1693
-1694
-1695
-1696
-1697
-1698
-1699
-1700
-1701
-1702
-1703
-1704
-1705
-1706
-1707
-1708
-1709
-1710
-1711
-1712
-1713
-1714
-1715
-1716
-1717
-1718
-1719
-1720
-1721
-1722
-1723
-1724
-1725
-1726
-1727
-1728
-1729
-1730
-1731
-1732
-1733
-1734
-1735
-1736
-1737
-1738
-1739
-1740
-1741
-1742
-1743
-1744
-1745
-1746
-1747
-1748
-1749
-1750
-1751
-1752
-1753
-1754
-1755
-1756
-1757
-1758
-1759
-1760
-1761
-1762
-1763
-1764
-1765
-1766
-1767
-1768
-1769
-1770
-1771
-1772
-1773
-1774
-1775
-1776
-1777
-1778
-1779
-1780
-1781
-1782
-1783
-1784
-1785
-1786
-1787
-1788
-1789
-1790
-1791
-1792
-1793
-1794
-1795
-1796
-1797
-1798
-1799
-1800
-1801
-1802
-1803
-1804
-1805
-1806
-1807
-1808
-1809
-1810
-1811
-1812
-1813
-1814
-1815
-1816
-1817
-1818
-1819
-1820
-1821
-1822
-1823
-1824
-1825
-1826
-1827
-1828
-1829
-1830
-1831
-1832
-1833
-1834
-1835
-1836
-1837
-1838
-1839
-1840
-1841
-1842
-1843
-1844
-1845
-1846
-1847
-1848
-1849
-1850
-1851
-1852
-1853
-1854
-1855
-1856
-1857
-1858
-1859
-1860
-1861
-1862
-1863
-1864
-1865
-1866
-1867
-1868
-1869
-1870
-1871
-1872
-1873
-1874
-1875
-1876
-1877
-1878
-1879
-1880
-1881
-1882
-1883
-1884
-1885
-1886
-1887
-1888
-1889
-1890
-1891
-1892
-1893
-1894
-1895
-1896
-1897
-1898
-1899
-1900
-1901
-1902
-1903
-1904
-1905
-1906
-1907
-1908
-1909
-1910
-1911
-1912
-1913
-1914
-1915
-1916
-1917
-1918
-1919
-1920
-1921
-1922
-1923
-1924
-1925
-1926
-1927
-1928
-1929
-1930
-1931
-1932
-1933
-1934
-1935
-1936
-1937
-1938
-1939
-1940
-1941
-1942
-1943
-1944
-1945
-1946
-1947
-1948
-1949
-1950
-1951
-1952
-1953
-1954
-1955
-1956
-1957
-1958
-1959
-1960
-1961
-1962
-1963
-1964
-1965
-1966
-1967
-1968
-1969
-1970
-1971
-1972
-1973
-1974
-1975
-1976
-1977
-1978
-1979
-1980
-1981
-1982
-1983
-1984
-1985
-1986
-1987
-1988
-1989
-1990
-1991
-1992
-1993
-1994
-1995
-1996
-1997
-1998
-1999
-2000
-2001
-2002
-2003
-2004
-2005
-2006
-2007
-2008
-2009
-2010
-2011
-2012
-2013
-2014
-2015
-2016
-2017
-2018
-2019
-2020
-2021
-2022
-2023
-2024
-2025
-2026
-2027
-2028
-2029
-2030
-2031
-2032
-2033
-2034
-2035
-2036
-2037
-2038
-2039
-2040
-2041
-2042
-2043
-2044
-2045
-2046
-2047
-2048
-2049
-2050
-2051
-2052
-2053
-2054
-2055
-2056
-2057
-2058
-2059
-2060
-2061
-2062
-2063
-2064
-2065
-2066
-2067
-2068
-2069
-2070
-2071
-2072
-2073
-2074
-2075
-2076
-2077
-2078
-2079
-2080
-2081
-2082
-2083
-2084
-2085
-2086
-2087
-2088
-2089
-2090
-2091
-2092
-2093
-2094
-2095
-2096
-2097
-2098
-2099
-2100
-2101
-2102
-2103
-2104
-2105
-2106
-2107
-2108
-2109
-2110
-2111
-2112
-2113
-2114
-2115
-2116
-2117
-2118
-2119
-2120
-2121
-2122
-2123
-2124
-2125
-2126
-2127
-2128
-2129
-2130
-2131
-2132
-2133
-2134
-2135
-2136
-2137
-2138
-2139
-2140
-2141
-2142
-2143
-2144
-2145
-2146
-2147
-2148
-2149
-2150
-2151
-2152
-2153
-2154
-2155
-2156
-2157
-2158
-2159
-2160
-2161
-2162
-2163
-2164
-2165
-2166
-2167
-2168
-2169
-2170
-2171
-2172
-2173
-2174
-2175
-2176
-2177
-2178
-2179
-2180
-2181
-2182
-2183
-2184
-2185
-2186
-2187
-2188
-2189
-2190
-2191
-2192
-2193
-2194
-2195
-2196
-2197
-2198
-2199
-2200
-2201
-2202
-2203
-2204
-2205
-2206
-2207
-2208
-2209
-2210
-2211
-2212
-2213
-2214
-2215
-2216
-2217
-2218
-2219
-2220
-2221
-2222
-2223
-2224
-2225
-2226
-2227
-2228
-2229
-2230
-2231
-2232
-2233
-2234
-2235
-2236
-2237
-2238
-2239
-2240
-2241
-2242
-2243
-2244
-2245
-2246
-2247
-2248
-2249
-2250
-2251
-2252
-2253
-2254
-2255
-2256
-2257
-2258
-2259
-2260
-2261
-2262
-2263
-2264
-2265
-2266
-2267
-2268
-2269
-2270
-2271
-2272
-2273
-2274
-2275
-2276
-2277
-2278
-2279
-2280
-2281
-2282
-2283
-2284
-2285
-2286
-2287
-2288
-2289
-2290
-2291
-2292
-2293
-2294
-2295
-2296
-2297
-2298
-2299
-2300
-2301
-2302
-2303
-2304
-2305
-2306
-2307
-2308
-2309
-2310
-2311
-2312
-2313
-2314
-2315
-2316
-2317
-2318
-2319
-2320
-2321
-2322
-2323
-2324
-2325
-2326
-2327
-2328
-2329
-2330
-2331
-2332
-2333
-2334
-2335
-2336
-2337
-2338
-2339
-2340
-2341
-2342
-2343
-2344
-2345
-2346
-2347
-2348
-2349
-2350
-2351
-2352
-2353
-2354
-2355
-2356
-2357
-2358
-2359
-2360
-2361
-2362
-2363
-2364
-2365
-2366
-2367
-2368
-2369
-2370
-2371
-2372
-2373
-2374
-2375
-2376
-2377
-2378
-2379
-2380
-2381
-2382
-2383
-2384
-2385
-2386
-2387
-2388
-2389
-2390
-2391
-2392
-2393
-2394
-2395
-2396
-2397
-2398
-2399
-2400
-2401
-2402
-2403
-2404
-2405
-2406
-2407
-2408
-2409
-2410
-2411
-2412
-2413
-2414
-2415
-2416
-2417
-2418
-2419
-2420
-2421
-2422
-2423
-2424
-2425
-2426
-2427
-2428
-2429
-2430
-2431
-2432
-2433
-2434
-2435
-2436
-2437
-2438
-2439
-2440
-2441
-2442
-2443
-2444
-2445
-2446
-2447
-2448
-2449
-2450
-2451
-2452
-2453
-2454
-2455
-2456
-2457
-2458
-2459
-2460
-2461
-2462
-2463
-2464
-2465
-2466
-2467
-2468
-2469
-2470
-2471
-2472
-2473
-2474
-2475
-2476
-2477
-2478
-2479
-2480
-2481
-2482
-2483
-2484
-2485
-2486
-2487
-2488
-2489
-2490
-2491
-2492
-2493
-2494
-2495
-2496
-2497
-2498
-2499
-2500
-2501
-2502
-2503
-2504
-2505
-2506
-2507
-2508
-2509
-2510
-2511
-2512
-2513
-2514
-2515
-2516
-2517
-2518
-2519
-2520
-2521
-2522
-2523
-2524
-2525
-2526
-2527
-2528
-2529
-2530
-2531
-2532
-2533
-2534
-2535
-2536
-2537
-2538
-2539
-2540
-2541
-2542
-2543
-2544
-2545
-2546
-2547
-2548
-2549
-2550
-2551
-2552
-2553
-2554
-2555
-2556
-2557
-2558
-2559
-2560
-2561
-2562
-2563
-2564
-2565
-2566
-2567
-2568
-2569
-2570
-2571
-2572
-2573
-2574
-2575
-2576
-2577
-2578
-2579
-2580
-2581
-2582
-2583
-2584
-2585
-2586
-2587
-2588
-2589
-2590
-2591
-2592
-2593
-2594
-2595
-2596
-2597
-2598
-2599
-2600
-2601
-2602
-2603
-2604
-2605
-2606
-2607
-2608
-2609
-2610
-2611
-2612
-2613
-2614
-2615
-2616
-2617
-2618
-2619
-2620
-2621
-2622
-2623
-2624
-2625
-2626
-2627
-2628
-2629
-2630
-2631
-2632
-2633
-2634
-2635
-2636
-2637
-2638
-2639
-2640
-2641
-2642
-2643
-2644
-2645
-2646
-2647
-2648
-2649
-2650
-2651
-2652
-2653
-2654
-2655
-2656
-2657
-2658
-2659
-2660
-2661
-2662
-2663
-2664
-2665
-2666
-2667
-2668
-2669
-2670
-2671
-2672
-2673
-2674
-2675
-2676
-2677
-2678
-2679
-2680
-2681
-2682
-2683
-2684
-2685
-2686
-2687
-2688
-2689
-2690
-2691
-2692
-2693
-2694
-2695
-2696
-2697
-2698
-2699
-2700
-2701
-2702
-2703
-2704
-2705
-2706
-2707
-2708
-2709
-2710
-2711
-2712
-2713
-2714
-2715
-2716
-2717
-2718
-2719
-2720
-2721
-2722
-2723
-2724
-2725
-2726
-2727
-2728
-2729
-2730
-2731
-2732
-2733
-2734
-2735
-2736
-2737
-2738
-2739
-2740
-2741
-2742
-2743
-2744
-2745
-2746
-2747
-2748
-2749
-2750
-2751
-2752
-2753
-2754
-2755
-2756
-2757
-2758
-2759
-2760
-2761
-2762
-2763
-2764
-2765
-2766
-2767
-2768
-2769
-2770
-2771
-2772
-2773
-2774
-2775
-2776
-2777
-2778
-2779
-2780
-2781
-2782
-2783
-2784
-2785
-2786
-2787
-2788
-2789
-2790
-2791
-2792
-2793
-2794
-2795
-2796
-2797
-2798
-2799
-2800
-2801
-2802
-2803
-2804
-2805
-2806
-2807
-2808
-2809
-2810
-2811
-2812
-2813
-2814
-2815
-2816
-2817
-2818
-2819
-2820
-2821
-2822
-2823
-2824
-2825
-2826
-2827
-2828
-2829
-2830
-2831
-2832
-2833
-2834
-2835
-2836
-2837
-2838
-2839
-2840
-2841
-2842
-2843
-2844
-2845
-2846
-2847
-2848
-2849
-2850
-2851
-2852
-2853
-2854
-2855
-2856
-2857
-2858
-2859
-2860
-2861
-2862
-2863
-2864
-2865
-2866
-2867
-2868
-2869
-2870
-2871
-2872
-2873
-2874
-2875
-2876
-2877
-2878
-2879
-2880
-2881
-2882
-2883
-2884
-2885
-2886
-2887
-2888
-2889
-2890
-2891
-2892
-2893
-2894
-2895
-2896
-2897
-2898
-2899
-2900
-2901
-2902
-2903
-2904
-2905
-2906
-2907
-2908
-2909
-2910
-2911
-2912
-2913
-2914
-2915
-2916
-2917
-2918
-2919
-2920
-2921
-2922
-2923
-2924
-2925
-2926
-2927
-2928
-2929
-2930
-2931
-2932
-2933
-2934
-2935
-2936
-2937
-2938
-2939
-2940
-2941
-2942
-2943
-2944
-2945
-2946
-2947
-2948
-2949
-2950
-2951
-2952
-2953
-2954
-2955
-2956
-2957
-2958
-2959
-2960
-2961
-2962
-2963
-2964

RecursionError: maximum recursion depth exceeded while calling a Python object

In [185]:
def count_down(start):
    """ Count down from a number  """
    print(start)

    # call the count_down if the next
    # number is greater than 0
    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

In [186]:
def sum(n):
    total = 0
    for index in range(n+1):
        total += index

    return total


result = sum(100)
print(result)

5050

In [187]:
def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0


result = sum(100)
print(result)

5050

In [188]:
def sum(n):
    return n + sum(n-1) if n > 0 else 0


result = sum(100)
print(result)

5050

### Lambda Functions

In [189]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)

In [190]:
def first_last(first_name, last_name):
    return f"{first_name} {last_name}"


def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"

In [191]:
full_name = get_full_name('John', 'Doe', first_last)
print(full_name) # John Doe

full_name = get_full_name('John', 'Doe', last_first)
print(full_name) #  Doe, John

John Doe
Doe, John

In [192]:
lambda first_name,last_name: f"{first_name} {last_name}"

In [193]:
lambda first_name, last_name: f"{last_name} {first_name}";

In [194]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'John',
    'Doe',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

John Doe
Doe John

In [195]:
def times(n):
    return lambda x: x * n

In [196]:
double = times(2)

In [197]:
result = double(2)
print(result)

result = double(3)
print(result)

4
6

In [198]:
triple = times(3)

print(triple(2))  # 6
print(triple(3))  # 9

6
9

In [199]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i) #lambda expressions reference the i variable, not the current value of i

for f in callables:
    print(f())

3
3
3

In [200]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda a=i: a)

for f in callables:
    print(f())

1
2
3

### Function Docstrings

In [201]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [202]:
def add(a, b):
    "Return the sum of two arguments"
    return a + b

In [203]:
help(add)

Help on function add in module __main__:

add(a, b)
    Return the sum of two arguments

In [204]:
def add(a, b):
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

In [205]:
add.__doc__

' Add two arguments\n    Arguments:\n        a: an integer\n        b: an integer\n    Returns:\n        The sum of the two arguments\n    '

## Section 5 Lists

### List

In [206]:
empty_list = []

In [207]:
todo_list = ['Learn Python List','How to manage List elements']

In [208]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers)

[1, 3, 2, 7, 9, 4]

In [209]:
colors = ['red', 'green', 'blue']
print(colors)

['red', 'green', 'blue']

In [210]:
coordinates = [[0, 0], [100, 100], [200, 200]]
print(coordinates)

[[0, 0], [100, 100], [200, 200]]

In [211]:
numbers = [1, 3, 2, 7, 9, 4]

print(numbers[0])

1

In [212]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[1])

3

In [213]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers[-1])
print(numbers[-2])

4
9

In [214]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[0] = 10

print(numbers)

[10, 3, 2, 7, 9, 4]

In [215]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[1] = numbers[1]*10

print(numbers)

[1, 30, 2, 7, 9, 4]

In [216]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[2] /= 2

print(numbers)

[1, 3, 1.0, 7, 9, 4]

In [217]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)

print(numbers)

[1, 3, 2, 7, 9, 4, 100]

In [218]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.insert(2, 100)

print(numbers)

[1, 3, 100, 2, 7, 9, 4]

In [219]:
numbers = [1, 3, 2, 7, 9, 4]
del numbers[0]

print(numbers)

[3, 2, 7, 9, 4]

In [220]:
numbers = [1, 3, 2, 7, 9, 4]
last = numbers.pop()

print(last)
print(numbers)

4
[1, 3, 2, 7, 9]

In [221]:
numbers = [1, 3, 2, 7, 9, 4]

second = numbers.pop(1)

print(second)
print(numbers)

3
[1, 2, 7, 9, 4]

In [222]:
numbers = [1, 3, 2, 7, 9, 4, 9]

numbers.remove(9)
print(numbers)

[1, 3, 2, 7, 4, 9]

### Tuples

In [223]:
rgb = ('red', 'green', 'blue')

In [224]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

In [225]:
rgb = ('red', 'green', 'blue')
rgb[0] = 'yellow' #causes typeerror

TypeError: 'tuple' object does not support item assignment

In [226]:
numbers = (3,)
print(type(numbers))

<class 'tuple'>

In [227]:
numbers = (3)
print(type(numbers))

<class 'int'>

In [228]:
colors = ('red', 'green', 'blue')
print(colors)

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)

('red', 'green', 'blue')
('Cyan', 'Magenta', 'Yellow', 'black')

### sort a list in place

In [229]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [230]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [231]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort()

print(scores)

[4, 5, 6, 7, 8, 9]

In [232]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort(reverse=True)

print(scores)

[9, 8, 7, 6, 5, 4]

In [233]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

In [234]:
def sort_key(company):
    return company[2]

In [235]:
companies.sort(key=sort_key, reverse=True)

In [236]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]


# define a sort key
def sort_key(company):
    return company[2]



# sort the companies by revenue
companies.sort(key=sort_key, reverse=True)

# show the sorted companies
print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [237]:
lambda arguments: expression

In [238]:
def name(arguments):
    return expression

In [239]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

# sort the companies by revenue
companies.sort(key=lambda company: company[2])

# show the sorted companies
print(companies)

[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

### sort a list

In [240]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests)

print(guests)
print(sorted_guests)

['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [241]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests, reverse=True)

print(sorted_guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [242]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores)

print(sorted_scores)

[4, 5, 6, 7, 8, 9]

In [243]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores, reverse=True)

print(sorted_scores)

[9, 8, 7, 6, 5, 4]

### List slice

In [244]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [245]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]

print(sub_colors)

['orange', 'yellow', 'green']

In [246]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[:3]

print(sub_colors)

['red', 'orange', 'yellow']

In [247]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[-3:]

print(sub_colors)

['blue', 'indigo', 'violet']

In [248]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[::2]

print(sub_colors)

['red', 'yellow', 'blue', 'violet']

In [249]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
reversed_colors = colors[::-1]

print(reversed_colors)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [250]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colors[0:2] = ['black', 'white']

print(colors)

['black', 'white', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [251]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(f"The list has {len(colors)} elements")

colors[0:2] = ['black', 'white', 'gray']
print(colors)
print(f"The list now has {len(colors)} elements")

The list has 7 elements
['black', 'white', 'gray', 'yellow', 'green', 'blue', 'indigo', 'violet']
The list now has 8 elements

In [252]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
del colors[2:5]

print(colors)

['red', 'orange', 'indigo', 'violet']

### How to Unpack a List in Python

In [253]:
colors = ['red', 'blue', 'green']

In [254]:
red = colors[0]
blue = colors[1]
green = colors[2]

In [255]:
red, blue, green = colors

In [256]:
colors = ['red', 'blue', 'green']
red, blue = colors #Give valueerror

ValueError: too many values to unpack (expected 2)

In [257]:
colors = ['red', 'blue', 'green']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green']

In [258]:
colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors

print(cyan)
print(magenta)
print(other)

cyan
magenta
['yellow', 'black']

### How to Use a For Loop to Iterate over a List

In [259]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)

New York
Beijing
Cairo
Mumbai
Mexico

In [260]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [261]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

In [262]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

### How to Find the Index of an Element in a List

In [263]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

In [264]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Osaka') # Gives valueerror as osaka is not in cities
print(result)

ValueError: 'Osaka' is not in list

In [265]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Osaka'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

Osaka doesn't exist in the list.

### Iterables

In [266]:
for index in range(3):
    print(index)

0
1
2

In [267]:
str = 'Iterables'
for ch in str:
    print(ch)

I
t
e
r
a
b
l
e
s

In [268]:
ranks = ['high', 'medium', 'low']

for rank in ranks:
    print(rank)

high
medium
low

In [269]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

In [270]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

red

In [271]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

In [274]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

# cause an excpetion as isnt any more element 
color = next(colors_iter)
print(color)

red
green
blue

StopIteration:

In [275]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

### How to Transform List Elements with Python map() Function

In [276]:
bonuses = [100, 200, 300]

In [277]:
bonuses = [100, 200, 300]

new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)

print(new_bonuses)

[200, 400, 600]

In [279]:
def double(bonus):
    return bonus * 2


bonuses = [100, 200, 300]

iterator = map(double, bonuses)

In [280]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)

In [281]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

[200, 400, 600]

In [282]:
names = ['david', 'peter', 'jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

['David', 'Peter', 'Jenifer']

In [283]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

In [284]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)

print(list(carts))

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

### How to Filter List Elements in Python

In [285]:
scores = [70, 60, 80, 90, 50]

In [286]:
scores = [70, 60, 80, 90, 50]

filtered = []

for score in scores:
    if score >= 70:
        filtered.append(score)

print(filtered)

[70, 80, 90]

In [288]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)

print(list(filtered))

[70, 80, 90]

In [287]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

In [289]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

### How to Use the Python Reduce() function to Reduce a List into a Single Value

In [290]:
scores = [75, 65, 80, 95, 50]

In [291]:
scores = [75, 65, 80, 95, 50]

total = 0

for score in scores:
    total += score

print(total)

365

In [292]:
from functools import reduce

In [293]:
from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365

In [294]:
from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)

365

### List Comprehensions

In [295]:
numbers = [1, 2, 3, 4, 5]

In [296]:
numbers = [1, 2, 3, 4, 5]

squares = []
for number in numbers:
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25]

In [297]:
numbers = [1, 2, 3, 4, 5]

squares = list(map(lambda number: number**2, numbers))

print(squares)

[1, 4, 9, 16, 25]

In [298]:
numbers = [1, 2, 3, 4, 5]
squares = [number**2 for number in numbers]

print(squares)

[1, 4, 9, 16, 25]

In [299]:
squares = [number**2 for number in numbers]

In [301]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

In [302]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]


highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [303]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

highest_mountains = [m for m in mountains if m[1] > 8600]

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

## Section 6 Dictionaries

### Dictionary

In [305]:
empty_dict = {}

In [306]:
empty_dict = {}

print(type(empty_dict))

<class 'dict'>

In [307]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

In [308]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])
print(person['last_name'])

John
Doe

In [309]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person['ssn'] # should get()

KeyError: 'ssn'

In [310]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn')
print(ssn)

None

In [311]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn', '000-00-0000')
print(ssn)

000-00-0000

In [312]:
person['gender'] = 'Famale'

In [313]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

person['age'] = 26

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True}

In [314]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green']}

In [315]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])

In [316]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key, value in person.items():
    print(f"{key}: {value}")

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

In [317]:

person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [318]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person:
    print(key)

first_name
last_name
age
favorite_colors
active

In [319]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

### Dictionary comprehension

In [320]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

In [321]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [322]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [323]:
new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

In [324]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [325]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [326]:
selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

## Section 7 Sets

### set

In [327]:
skills = {'Python programming','Databases', 'Software design'}

In [328]:
empty_set = {}

In [329]:
empty_set  = set()

In [330]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In [331]:
skills = set(['Problem solving','Critical Thinking'])
print(skills)

{'Critical Thinking', 'Problem solving'}

In [332]:
characters = set('letter')
print(characters)

{'r', 't', 'e', 'l'}

In [334]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

In [335]:
ratings = {1, 2, 3, 4, 5}
rating = 1

if rating in ratings:
    print(f'The set contains {rating}')

The set contains 1

In [336]:
ratings = {1, 2, 3, 4, 5}
rating = 6

if rating not in ratings:
    print(f'The set does not contain {rating}')

The set does not contain 6

In [337]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Python programming', 'Software design', 'Problem solving'}

In [338]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Software design')

print(skills)

{'Python programming', 'Problem solving'}

In [339]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Java') # skills doesn't have Java

KeyError: 'Java'

In [340]:
skills = {'Problem solving', 'Software design', 'Python programming'}
if 'Java' in skills:
    skills.remove('Java')

In [341]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.discard('Java')

In [342]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Python programming

In [343]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.clear()

print(skills)

set()

In [344]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills) # makes immutable

In [345]:
skills.add('Django') # as skills is immutable we get error

AttributeError: 'frozenset' object has no attribute 'add'

In [346]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

Python programming
Software design
Problem solving

In [347]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills):
    print(f"{index}.{skill}")

0.Python programming
1.Software design
2.Problem solving

In [348]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for index, skill in enumerate(skills, 1):
    print(f"{index}.{skill}")

1.Python programming
2.Software design
3.Problem solving

### Set comprehension

In [349]:
tags = {'Django', 'Pandas', 'Numpy'}

In [350]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [351]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = set(map(lambda tag: tag.lower(), tags))

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [352]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = {tag.lower() for tag in tags}

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [353]:
tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}

print(new_tags)

{'django', 'pandas'}

### set union

In [354]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

In [355]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'Java', 'C#', 'Python'}

In [356]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'Java', 'C#', 'Python'}

In [357]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

In [358]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates | ranks # union operator only allows sets so it gives an error

TypeError: unsupported operand type(s) for |: 'set' and 'list'

### set intersection

In [359]:
s1 = {'Python', 'Java','C++'}
s2 = {'C#', 'Java', 'C++' }

In [360]:
s = {'Java', 'C++'}

In [361]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

{'Java', 'C++'}

In [362]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

{'Java', 'C++'}

In [363]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers.intersection(scores)

print(numbers)

{2, 3}

In [364]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers & scores
# setting intersection operator (&) instead will give an error
print(numbers)

TypeError: unsupported operand type(s) for &: 'set' and 'list'

### Set difference

In [365]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

In [366]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [367]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

In [368]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1 - s2

print(s)

{'Python'}

In [369]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)

{'C#'}

In [370]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores.difference(numbers)

print(new_scores)

{8, 7}

In [371]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores - numbers
# setting difference operator instead will give an error
print(numbers)
print(new_scores)

TypeError: unsupported operand type(s) for -: 'set' and 'list'

### symmetric difference

In [372]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

In [373]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'C#', 'Python'}

In [374]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

{'C#', 'Python'}

In [375]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores.symmetric_difference(ratings)

print(new_set)

{10, 7}

In [376]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores ^ ratings # '^' this operator only applies to sets, so gives error

print(new_set)

TypeError: unsupported operand type(s) for ^: 'set' and 'list'

### subset

In [377]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [378]:
numbers = {1, 2, 3, 4, 5}

print(numbers.issubset(numbers))

True

In [379]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(numbers.issubset(scores))

False

In [380]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result)  # True

result = numbers <= numbers
print(result)  # True

True
True

In [381]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)  # True

result = numbers < numbers
print(result)  # False

True
False

### superset

In [382]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

In [383]:
numbers = {1, 2, 3, 4, 5}
result = numbers.issuperset(numbers)

print(result)

True

In [384]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores.issuperset(numbers)

print(result)

False

In [385]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result)  # True

result = numbers >= numbers
print(result)  # True

True
True

In [386]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result)  # True

result = numbers > numbers
print(result)  # True

True
False

### Disjoint sets

In [387]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

In [388]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False

In [389]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True

### Section 8 exception handling

### try...except

In [390]:
current = 1
if current < 10 # Gives syntax error
current += 1

SyntaxError: expected ':' (1254883215.py, line 2)

In [394]:
# get input net sales
print('Enter the net sales for')

previous = float(input('- Prior period:'))
current = float(input('- Current period:'))

# calculate the change in percentage
change = (current - previous) * 100 / previous

# show the result
if change > 0:
    result = f'Sales increase {abs(change)}%'
else:
    result = f'Sales decrease {abs(change)}%'

print(result)

Enter the net sales for
Sales decrease 16.666666666666668%

In [392]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
Sales increase 20.0%

In [395]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous #ZeroDivisionError exception so gives error

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')

Enter the net sales for

ZeroDivisionError: float division by zero

In [396]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')

Enter the net sales for
Error! The prior net sales cannot be zero.

In [397]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')
except Exception as error:
    print(error)

Enter the net sales for
Error! The prior net sales cannot be zero.

### tryexceptfinally

In [398]:
a = 10
b = 0

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

division by zero
Finishing up.

In [399]:
a = 10
b = 2

try:
    c = a / b
    print(c)
except ZeroDivisionError as error:
    print(error)
finally:
    print('Finishing up.')

5.0
Finishing up.

### tryexceptelse

In [1]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2

In [2]:
def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'

In [3]:
def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print('Error! please enter a valid number.')
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

In [5]:
def calculate_bmi(height, weight):
    """ calculate body mass index (BMI) """
    return weight / height**2


def evaluate_bmi(bmi):
    """ evaluate the bmi """
    if 18.5 <= bmi <= 24.9:
        return 'healthy'

    if bmi >= 25:
        return 'overweight'

    return 'underweight'


def main():
    try:
        height = float(input('Enter your height (meters):'))
        weight = float(input('Enter your weight (kilograms):'))

    except ValueError as error:
        print(error)
    else:
        bmi = round(calculate_bmi(height, weight), 1)
        evaluation = evaluate_bmi(bmi)

        print(f'Your body mass index is {bmi}')
        print(f'This is considered {evaluation}!')

main()

Your body mass index is 20.0
This is considered healthy!

In [6]:
fruits = {
    'apple': 10,
    'orange': 20,
    'banana': 30
}

key = None
while True:
    try:
        key = input('Enter a key to lookup:')
        fruit = fruits[key.lower()]
    except KeyError:
        print(f'Error! {key} does not exist.')
    except KeyboardInterrupt:
        break
    else:
        print(fruit)
    finally:
        print('Press Ctrl-C to exit.')

10
Press Ctrl-C to exit.
Error!  does not exist.
Press Ctrl-C to exit.
Press Ctrl-C to exit.

## Section 9 More on Loops

### for else

In [21]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

In [22]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')

Maria not found!

In [24]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')

{'name': 'Peter', 'age': 30}

In [26]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

for person in people:
    if person['name'] == name:
        print(person)
        break
else:
    print(f'{name} not found!')

{'name': 'Peter', 'age': 30}

### while loop

In [27]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

In [28]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0
found_it = False

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        found_it = True
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        break

    index += 1

if not found_it:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 20 apple(s)

In [29]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0
found_it = False

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        found_it = True
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        break

    index += 1

if not found_it:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

[{'fruit': 'apple', 'qty': 20}, {'fruit': 'banana', 'qty': 30}, {'fruit': 'orange', 'qty': 10}, {'fruit': 'starwberry', 'qty': 12}]

In [30]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        found_it = True
        break

    index += 1
else:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 10 orange(s)

### do while statement

In [31]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

# The first attempt
input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
attempt += 1

if input_number > secret_number:
    print('It should be smaller.')
elif input_number < secret_number:
    print('It should be bigger.')
else:
    print(f'Bingo! {attempt} attempt(s)')

# From the second attempt
while input_number != secret_number:

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
    attempt += 1

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')

It should be bigger.
Bingo! 2 attempt(s)

In [32]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

while True:
    attempt += 1

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')
        break

It should be smaller.
It should be smaller.
Bingo! 3 attempt(s)

## Section 10 More on Python functions

### Unpacking tuple

In [33]:
x, y ,z = 10, 20, 30

In [34]:
numbers = 10, 20, 30
print(type(numbers))

<class 'tuple'>

In [35]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [36]:
x = 10
y = 20

print(f'x={x}, y={y}')

x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [37]:
x, y = 10, 20, 30  #gives error as on right hand side there are 3 elements while the left has only 2

ValueError: too many values to unpack (expected 2)

In [38]:
x, y, _ = 10, 20, 30

In [39]:
r, g, *other = (192, 210, 100, 0.5)

In [40]:
x, y, *z, *t = (10, 20, 30, '10:30')  # gives error as using the * operator once on the left-hand side of an unpacking assignment.

SyntaxError: multiple starred expressions in assignment (1729363187.py, line 1)

In [41]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)

In [42]:
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

### *args

In [43]:
x, y = 10, 20

In [44]:
def add(x, y):
    return x + y


add(10, 20)

30

In [45]:
x, y, *z = 10, 20, 30, 40

print(x)
print(y)
print(z)

10
20
[30, 40]

In [46]:

def add(x, y, *args):
    total = x + y
    for arg in args:
        total += arg

    return total


result = add(10, 20, 30, 40)
print(result)

100

In [47]:
def add(*args):
    print(args)


add()

()

In [48]:
def add(*args):
    print(type(args))
    print(args)

add()

<class 'tuple'>
()

In [49]:
def add(*args):
    print(args)


add(1,2,3)

(1, 2, 3)

In [50]:
def add(*args):
    print(args[0])
    print(args[1])
    print(args[2])


add(1, 2, 3)

1
2
3

In [51]:
def add(*args):
    total = 0
    for arg in args:
        total += arg
    return total


total = add(1, 2, 3)
print(total)

6

In [52]:
def add(x, y, *args, z):
    return x + y + sum(args) + z #error because it uses a positional argument after the *arg argument


add(10, 20, 30, 40, 50)

TypeError: add() missing 1 required keyword-only argument: 'z'

In [53]:
def add(x, y, *args, z):
    return x + y + sum(args) + z


add(10, 20, 30, 40, z=50)

150

In [54]:
def point(x, y):
    return f'({x},{y})'

In [55]:
a = (0, 0)
origin = point(a) # gives error

TypeError: point() missing 1 required positional argument: 'y'

In [56]:
def point(x, y):
    return f'({x},{y})'


a = (0, 0)
origin = point(*a)
print(origin)

(0,0)

### **kwargs

In [57]:
def connect(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [58]:
connect()

<class 'dict'>
{}

In [59]:
connect(server='localhost', port=3306, user='root', password='Py1hon!Xt')

<class 'dict'>
{'server': 'localhost', 'port': 3306, 'user': 'root', 'password': 'Py1hon!Xt'}

In [60]:
def connect(**kwargs):
    print(kwargs)


config = {'server': 'localhost',
        'port': 3306,
        'user': 'root',
        'password': 'Py1thon!Xt12'}

connect(**config)

{'server': 'localhost', 'port': 3306, 'user': 'root', 'password': 'Py1thon!Xt12'}

In [61]:
def connect(fn, **kwargs):
    print(kwargs)

In [62]:
def connect(**kwargs, fn):  # this syntax is wrong
    print(kwargs)

SyntaxError: invalid syntax (3575325464.py, line 1)

In [63]:
def fn(*args, **kwargs):
    print(args)
    print(kwargs)

In [64]:
fn(1, 2, x=10, y=20)

(1, 2)
{'x': 10, 'y': 20}

### Partial Functions

In [65]:
def multiply(a, b):
    return a*b

In [66]:
def double(a):
    return multiply(a,2)

In [67]:
result = double(10)
print(result)

20

In [68]:
def multiply(a, b):
    return a*b


def double(a):
    return multiply(a, 2)


result = double(10)
print(result)

20

In [69]:
from functools import partial

def multiply(a, b):
    return a*b


double = partial(multiply, b=2)

result = double(10)
print(result)

20

In [70]:
double(10, b=3)

30

In [71]:
from functools import partial


def multiply(a, b):
    return a*b


x = 2
f = partial(multiply, x)

result = f(10)  # 20
print(result)

x = 3
result = f(10)  # 20
print(result)

20
20

In [72]:
f = partial(multiply, x)

### Type Hints

In [73]:
def say_hi(name):
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [74]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [75]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi(123)
print(greeting)

Hi 123

In [77]:
pip install mypy

Collecting mypy
  Downloading mypy-1.11.2-cp310-cp310-macosx_10_9_x86_64.whl.metadata (1.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/likhitha/DLP/.conda/lib/python3.10/site-packages (from mypy) (4.12.2)
Collecting mypy-extensions>=1.0.0 (from mypy)
  Downloading mypy_extensions-1.0.0-py3-none-any.whl.metadata (1.1 kB)
Collecting tomli>=1.1.0 (from mypy)
  Downloading tomli-2.0.1-py3-none-any.whl.metadata (8.9 kB)
Downloading mypy-1.11.2-cp310-cp310-macosx_10_9_x86_64.whl (10.9 MB)
    10.9/10.9 MB 34.9 MB/s eta 0:00:00 0:00:01
Downloading mypy_extensions-1.0.0-py3-none-any.whl (4.7 kB)
Downloading tomli-2.0.1-py3-none-any.whl (12 kB)
Installing collected packages: tomli, mypy-extensions, mypy
Successfully installed mypy-1.11.2 mypy-extensions-1.0.0 tomli-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [79]:
name: str = 'John'

In [80]:
name: str = 'Hello'
name = 100

In [81]:
def add(x, y):
    return x + y

In [82]:
from typing import Union

In [83]:
def add(x: Union[int, float], y: Union[int, float]) -> Union[int, float]:
    return x + y

In [84]:
from typing import Union


def add(x: Union[int, float], y: Union[int, float]) -> Union[int, float]:
    return x + y

In [85]:
def add(x: int | float, y: int | float) -> int | float:
    return x + y

In [86]:
from typing import Union

number = Union[int, float]


def add(x: number, y: number) -> number:
    return x + y

In [87]:
ratings: list = [1, 2, 3]
ratings = {1: 'Bad', 2: 'average', 3: 'Good'}

In [88]:
from typing import List

ratings: List[int] = [1, 2, 3]

In [89]:
def log(message: str) -> None:
    print(message)